* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: coolvetica ,Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
}


#Homecontainer {
    
    display: grid;
    height: 200vh;
    width: 100vw;

    grid-template-rows: 70px 100vh 7.5% 7.5% 30% 300px;
    grid-template-columns: 1;
    grid-template-areas: 
    '. .'
    's1 s1'
    '. .'
    'w1 w1'
    's2 s2'
    'fo fo'
    ;
    
    
    background-color: lightblue;
}


.mainheader {
    position: fixed;
    height: 110px;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;

}

.logo-container img {
    height: 50px;
    width: auto;
}

/* Kod som hanterar header naven */

.wide-nav ul {
    list-style: none; 
}

.wide-nav ul li {
    display: inline-block;
    padding: 0px 20px;
}


.side-nav.show {
    left: 0;
}

.fade-layer.visible{
    display: block;
}

.side-nav{
    height: 100vh;
    width: 80vw;
    background: white;
    position: fixed;
    top: 0;
    left: -90vw;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    transition: left 0.3s;
    z-index: 10;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}


#welcome {
    grid-area: s1;
    background-color: yellowgreen;
    background-image: url('../img/welcome.jpg');
    background-size: cover;
    background-position: center;
}

#welcome2 {
    grid-area: s2;
    background-color: tomato;
}

#workstitle {
    grid-area: w1;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: white;
}


.mainfooter {
    height: 300px;
    grid-area: fo;
    background-color: grey;
}

/*Alla media queries läggs längst ned för att inte riskera att koden blir overwritten */

@media (max-width:1230px) {
    /*nav försvinner, ikon dyker upp*/
    .wide-nav {
        display: none;
    }

    .mainheader {
        height: 70px;
    }

}

@media (min-width:1230px) {
    /*nav dyker upp, ikon försvinner*/
    .menu-button {
        display: none;
    }
}