* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif, coolvetica ,Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
}

body {
    overflow-x: hidden;
}

#Homecontainer {
    
    display: grid;
    height: 310vh;
    width: 100vw;

    grid-template-rows: 70px 95vh 170px auto auto 300px;
    grid-template-areas: 
    '. .'
    's1 s1'
    'w1 w1'
    's2 s2'
    'n1 n1'
    'fo fo'
    ;
    
    
    background-color: white;
}


.mainheader {
    position: fixed;
    height: 120px;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;

}

.logo-container img {
    height: 50px;
    width: auto;
}

/* Kod som hanterar header naven */


.wide-nav {
    padding: 0px 70px;
}

.wide-nav ul li {
    display: inline-block;
    padding: 0px 20px;
}

.wide-nav ul li:hover{
    text-decoration: underline;
}

.wide-nav a {
    text-decoration: none;
}

.side-nav.show {
    left: 0;
}

.fade-layer.visible{
    display: block;
}

.side-nav{
    height: 100vh;
    width: 80vw;
    background: white;
    position: fixed;
    top: 0;
    left: -90vw;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    transition: left 0.3s;
    z-index: 10;
}

.side-nav a {
    font-size: 20px;
}

.side-nav ul {
    text-align: center;
}


a {
    text-decoration: none;
    color: black;
}

.sidenav_links li{
    opacity: 0;
}

.sidenav_links div {
    padding: 30px 0 30px 0;
    background-color: white;
    border-bottom: 1px solid;
}
   

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}




/* Följande kod hanterar home-sidan */


#welcome {
    grid-area: s1;
    background-color: lightblue;
    background-image: url('../img/welcome3.jpg');
    background-size: cover;
    background-position: center;
}

#welcometext {
    position: relative;
    text-align: center;
    top: 40%;
    color: white;
   
}

#worksdisplay {
    grid-area: s2;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding: 20px 10px 20px 10px;
}

#workstitle {
    grid-area: w1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: white;
}

#workstitle h1 {
    font-size: 2.5rem;
    font-family: coolvetica;
}


#workstitle h2 {
    font-size: 1rem;
}


.exworksdisplay img {
    height: auto;
    margin: 10px;
    width: 120px;
}


#newsdisplay header {
    background-color: white;
    border-bottom: 1px solid;
    border-top: 1px solid;
    height: 25%;
}


#newsdisplay {
    grid-area: n1;
    background-color: lightgray;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; 
    padding: 30px 30px 10px 30px;
    

}

#newsdisplay h1 {
    font-size: 2.5rem;
    text-align: center;
}

#newsdisplay h2 {
    font-size: 1rem;
    text-align: center;
}

ol {
    list-style: none;
    display: block;
}

.newstitle {
    font-size: 1rem;
    font-weight: 1000;
}

.newssection {
    font-size: 0.9rem;
}

#newsdisplaycontainer {
    padding-bottom: 22px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#newsdisplay ol li {
    margin: 17px 0;
}


/* Följande kod hanterar footern */


.mainfooter {
    height: 300px;
    grid-area: fo;
    background-color: rgb(59, 73, 99);
    display: flex;
    justify-content: center;
    padding: 30px;
}

.footernav {
    text-align: center;
    margin: 20px 0;
}

.footernav li {
    border-bottom: 1px dotted whitesmoke;
}

.footernav li a {
    color:rgb(255, 255, 255)
}


.socialmedia img{
    width: 30px;
    height: auto;
    margin: 0 5px;
    align-self: flex-end;
}

.innerfooter {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.innerfooter h3 {
    font-size: 1rem;
    color: whitesmoke;
}

.innerfooter ul li {
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 10px;
    text-align: center;
}



/* Följande kod hanterar news sidan */

#Newscontainer {
    
    display: grid;
    height: 170vh;
    width: 100vw;

    grid-template-rows: 70px auto 300px;
    grid-template-areas: 
    '. .'
    'sn sn'
    'fo fo'
    ;

    background-color: white;

}

#newswelcome {
    grid-area: sn;
    background-color: lightgray;
}

#newstitlecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;

}

#newstitlecontainer h1 {
    font-size: 3.5rem;
}

#newstitlecontainer h1::before {
    content: '';
    display: block ;
    border-bottom: 1px solid black;
}

#newstitlecontainer h2::after {
    content: '';
    display: block ;
    margin: 10px;
    border-bottom: 1px solid black;
}

#newstitlecontainer h2 {
    font-size: 0.9rem;
    text-align: center;
}

.newstitle {
    font-size: 1rem;
    margin: 0 0 5px 0;
}

#news ol {
    text-align: center;
}

#news ol li {
    margin: 20px 0;
}

.newssection {
    margin: 10px;
}

#news ol li::after {
    content: '';
    display: block ;
    border-bottom: 1px dotted black;
}


/* Följande kod hanterar about sidan */

#Aboutcontainer {
    display: grid;
    height: 260vh;
    width: 100vw;

    grid-template-rows: 70px 30vh auto 300px;
    grid-template-areas: 
    '. .'
    'aw aw'
    'ab ab'
    'fo fo'
    ;

    background-color: white;
}

#aboutwelcome {
    grid-area: aw;
    background: chartreuse;
    background-image: url('../img/unsplash32.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutwelcome h1 {
    font-size: 4.5rem;
    font-weight: 3000;
    color: white;
    text-shadow: 4px 4px #141414;
}

#about {
    grid-area: ab;
    background: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
}

#about p {
    margin: 5px 0 30px 0;
    text-align: center;
}

#about figure {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 0;
}

#about img {
    width: 75%;
    height: auto;
    max-width: 400px;
}

#about figcaption {
    text-align: center;
}


/* Följande kod hanterar portfolio sidan */

#Portfoliocontainer {
    display: grid;
    height: 180vh;
    width: 100vw;

    grid-template-rows: 70px 30vh auto 300px;
    grid-template-areas: 
    '. .'
    'pt pt'
    'po po'
    'fo fo'
    ;

    background-color: lightblue;
}

#portfoliotitle {
    grid-area: pt;
    background: lightblue;
    background-image: url('../img/unsplashcompr.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfoliotitle h1 {
    font-size: 4.5rem;
    font-weight: 3000;
    color: white;
    text-shadow: 4px 4px #141414;
}

#portfolio {
    grid-area: po;
    background: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    padding: 20px 10px;
}

.exworks img {
    height: 150px;
    width: auto;
    margin: 20px;
}


/* Följande kod hanterar kontakt sidan */


#Contactcontainer {
    display: grid;
    height: 150vh;
    width: 100vw;

    grid-template-rows: 70px 200px auto 300px;
    grid-template-areas: 
    '. .'
    'c1 c1'
    'co co'
    'fo fo'
    ;

    background-color: white;
}


#contact-title {
    grid-area: c1;
    background: lightblue;
    background-image: url('../img/unsplashcompr2.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-title h1 {
    font-size: 4rem;
    color: white;
    text-shadow: 4px 4px #141414;
}

#contact {
    grid-area: co;
    background-color: wheat;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#contact p{
    font-weight: 1000;
}

#contact .contactinfo {
    text-align: center;
}


.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    background-color: whitesmoke;
    border: 0;
    margin: 15px 0;
    padding: 15px 30px;
    transition: 0.5s
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px rgb(59, 73, 99);
}


textarea.contact-form-text {
    resize: none;
    height: 130px;
}

#morecontactinfo {
    padding-top: 30px;
}


/* Animation till naven */

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(-50px) 
    }
    to {
        opacity: 1;
        transform: translateX(0px) 
    }
} 



/* Media queries */


@media (max-width:1230px) {

    .wide-nav {
        display: none;
    }

    .mainheader {
        height: 70px;
    }

}


@media (min-width:768px) {
    
    /* Ipad/tablet */

    .exworksdisplay img {
        height: 230px;
        width: auto;
        
    }

    .exworks img {
        height: 250px;
        width: auto;
        margin: 10px 80px;
    }

    #about figure img {
        height: 350px;
        width: auto;
    }

    #Contactcontainer {
       
        height: 150vh;
        grid-template-rows: 70px 40vh 80vh 300px;
    }

    #contact {
        flex-direction: row;
        justify-content: center;
        padding: 20px;
    }

    #contact-title h1 {
        font-size: 4rem ;
    }

    #contact p{
        font-size: 1rem;
    }
    
    .contact-form-text {
        display: inline-block;
        width: 100%;
        margin: 5px 0;
        padding: 15px 25px;
        transition: 0.5s;
        font-size: 15px
        
    }

    .contact-form {
        margin: 0 30px;
    }

    textarea.contact-form-text {
        height: 150px;
    }

    #contact-title {
        margin-top: 50px;
    
    }
}





@media (min-width:1230px) {
    
    /*dekstop*/
    .menu-button {
        display: none;
    }

    .logo-container img {
        height: 70px;
        width: auto;
    }

    /* Följande gäller home-pagen */

    .exworksdisplay img {
        height: 370px;
        width: auto;
    }

    #worksdisplay {
        height: 550px;
    }

    #Homecontainer {

        height: 270vh;
        grid-template-rows: 70px 95vh 170px 550px 550px 300px;
    }

    .newstitle {
        font-size: 20px;
    }

    .newssection {
        font-size: 18px;
        margin: 0 0 30px 0;
    }

    #newsdisplaycontainer h1 {
        font-size: 4rem;
    }

    .displayworkscaption {
        font-size: 1.5rem;
    }

    /* Följande gäller news sidan */

    #news {
        margin-top: 50px;
        padding: 0 400px;
    }

    #newstitlecontainer h1 {
        font-size: 5rem;
    }


    /* Följande gäller portfolio sidan */

    #portfolio {
        padding: 50px;
    }

    .exworks img {
        height: 450px;
        width: auto;
        margin: 10px 80px;
    }

    #Portfoliocontainer {
        
        height: 230vh;
        grid-template-rows: 70px 40vh auto 300px;

    }

    #portfoliotitle {
        margin-top: 50px;
    }

    #portfoliotitle h1 {
        font-size: 5rem;
    }

    .exworks figcaption {
        font-size: 1.5rem;
    }


    /* Följande gäller about sidan */

    #Aboutcontainer {
        
        height: 180vh;
        grid-template-rows: 70px 40vh auto 300px;
        
    }

    #about {
        padding: 30px 300px;

        
    }

    #about figure img {
        height: 400px;
        width: auto;
    }

    #aboutwelcome h1 {
        font-size: 6rem;
        margin-top: 50px;
    }

    #about h1 {
        font-size: 2rem;
    }
    #about p {
        font-size: 1.2rem;
    }


    /* Följande gäller contact sidan */


    #Contactcontainer {
       
        height: 150vh;
        grid-template-rows: 70px 40vh 80vh 300px;
    }

    #contact {
        flex-direction: row;
        justify-content: center;
        padding: 40px;
    }

    #contact-title h1 {
        font-size: 5rem ;
    }

    #contact p{
        font-size: 1.2rem;
    }
    
    .contact-form-text {
        display: inline-block;
        width: 100%;
        margin: 15px 0;
        padding: 25px 35px;
        transition: 0.5s;
        font-size: 18px
        
    }

    .contact-form {
        margin: 0 50px;
    }

    textarea.contact-form-text {
        height: 170px;
    }

    #contact-title {
        margin-top: 50px;
    
    }
    

}

